
*{
    margin: 0;
    padding:0;
    font-family: Helvetica, sans-serif;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    justify-items: center;
}
body{
    display: flex;
    flex-direction: column;
}
.logo{
    width:8rem  ;
    
}
nav{
    display: flex;
    flex-direction: column;
}
nav a{
    padding:0.2em;
    font-size: 1.5rem;
}
img{
    width:100%;
  object-fit:cover;
}
.background{
    position:relative;
   bottom: calc(5rem + 30vw);
   width:100%;
   
}

.tea-month-banner h2{
    margin-bottom: 1rem;
}
.tea-month{
padding: 1em 0.8em;
}
.tea-month img{
    border-radius: 20px;
}
.locations{
    background-image: url(./img/img-locations-background.webp);
    object-fit: cover;
    padding:1rem;
}
.location-labels{
    background-color: transparent;
}
.location-label{
    
    padding:1rem;
    border: 1px solid white;
    width:90%;
    margin:1rem;
    
}
.copyright, .copyright p{
    width: 100%;
    text-align: left;
}


@media only screen and (min-width:600px){
 header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
     align-items:center;
    padding:0.5rem 1rem;
 }
.logo{
    width:5rem;
}
 nav{
    flex-direction: row;
 }
 .tea-month-banner h2{
    margin-bottom: 1rem;
}
.tea-month{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
padding: 1em 1em;
}
.tea-month img{
    width:15rem;
    border-radius: 20px;
}
.location-labels{
    display: flex;
    justify-content: space-evenly;
    
}
.location-label{
    border: none;
    flex-direction: column;
    margin:1rem;
}
.contact{
    margin: 1rem auto;
}  
.contact h2, .contact h5{
    padding:1rem
}
}


