body{
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.makeblock.com%2Fblogs%2Fideas%2Fis-programming-background-important-3-questions-you-should-think-clearly&psig=AOvVaw2oCZUx0rF_Eyru5-JwKgVZ&ust=1733745441722000&source=images&cd=vfe&opi=89978449&ved=2ahUKEwiB3d-aj5iKAxWD77sIHU1wDlMQjRx6BAgAEBk);
display: block;
   background-size: cover;
    background-repeat: no-repeat;
}
.hlinks li{
    display:inline-flex;
    border-radius:15px;
    box-shadow:0 9px grey;
    margin:12px;
    padding:5px;
    border:1px solid black;
    text-decoration: none;
    color: black;
    flex-direction: row;
    background-color: antiquewhite;
  }
  .hlinks li:hover{
    cursor:pointer;
    color:black;
    background-color: cadetblue;
  }
 .hlinks li:active{
    background-color:darkblue;
    box-shadow:0 1px black;
    color:white;
   
  }
