body{
background-image: url(https://images.unsplash.com/photo-1650600538903-ec09f670c391?q=80&w=1971&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);   
display: grid;
grid-template-columns: 1fr;
}
main{
  display: flex;
  flex-direction: column;
  align-items: center;  
}
h1, p{
  background-color:whitesmoke;
  width:fit-content ; 
}

.hlinks li{
    display:inline-flex;
    border-radius:15px;
    box-shadow:0 9px grey;
    margin:12px;
    padding:5px;
    border:1px solid black;
    text-decoration: none;
    color: black;
    flex-direction: row;
    background-color: antiquewhite;   
  }
  .hlinks li:hover{
    cursor:pointer;
    color:black;
    background-color: cadetblue;
  }
 .hlinks li:active{
    background-color:darkblue;
    box-shadow:0 1px black;
    color:white;
  }
